pengu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

pengu-icon {
    width: 64px;
    height: 64px;
    background-size: contain;
    background-image: url(./assets/pengu.jpg);
}
